* {
    font-family: "Oswald", sans-serif;
}
h1 {
    color:#ee1c47;
}
h2 {
    color: #110ae0 ;
}
h3 {
    color:#8dff7c;
}
p {
    color: #fff129;
}
body { 
    background: #31ccf8;
}
img {
    width: 400px;
}
* {
    width: 500px;
}
p {
    width:1000px ;
}